
.list-content {
    min-height: 300px;
}

.list-content .list-group .title {
    background: #00319a;
    border: 2px solid #DDDDDD;
    font-weight: bold;
    color: #FFFFFF;
}

.list-group-item img {
    height: 80px;
    width: 80px;
}


.prj-name {
    color: #00319a;
}

.break {
    width: 100%;
    margin: 20px;
}

.name {
    color: #00319a;
}